<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="Retro Recommender -- Dress as a celebrity from the past">
    <meta name="keywords" content="retro, recommender, celebrity, shopping, fashion">
    <title>Retro Recommender</title>
    <!-- import bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="icon" href="/images/favicon.ico" type="images/x-ico" />
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/result.css">
    <!--import jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- import bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!--html5shiv and respond-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="/javascripts/result.js"></script>
    <script src="/javascripts/base.js"></script>
</head>
<body>

<!--container start-->
<div id="container">
    <!--include header-->
    <%- include("partials/header") %>

    <div class="result-content">
        <!--left part start-->
        <div class="left-part col-sm-4 col-xs-6">
            <div class="big-photo">
            </div>
            <p id="photoList" style="display: none"><%= celebrity.image %></p>
            <p class="celebrity-name"><%= celebrity.name %></p>
            <p class="celebrity-intro"><%= celebrity.job %></p>
            <div class="small-photo">
                <ul>
                    <li class="small-photo-btn">
                        <button id="small-photo-btn1"><span> < </span></button>
                    </li>
                    <% for(var i=0; i<3; i++){ %>
                        <li class="small-pic">
                            <div></div>
                        </li>
                    <% } %>
                    <li class="small-photo-btn">
                        <button id="small-photo-btn2"><span> > </span></button>
                    </li>
                </ul>
            </div>
        </div>
        <!--left part end-->

        <!--right part start-->
        <div class="right-part col-sm-8 col-xs-6">
            <!--right part top start-->
            <ul id="navi" class="col-sm-6 hidden-xs">
                <a href="/"><li> &nbsp;&nbsp;&nbsp;Back to index</li></a>
                <a href="/list"><li> &nbsp;&nbsp;&nbsp;See our list of celebrities</li></a>
            </ul>
            <div id="search" class="row">
                <form method="get" action="/result">
                    <input class="col-sm-4 col-xs-7" type="text" name="celebrity" class="form-control"
                           placeholder="Name">
                    <button class="col-sm-1 col-xs-5" type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <!--right part top over-->

            <!--right part list start-->
            <% for(var i=0; i<10; i++){ %>
                <div class="result-list col-md-3 col-sm-4 col-xs-12" style="display: none;">
                    <div class="photo" data-toggle="modal" data-target="#enlarge">
                    </div>
                </div>
            <% } %>

            <!--click the small image to enlarge-->
            <div id="enlarge" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="" alt="photo">
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!--right part list over-->
        </div>
        <!--right part end-->
    </div>

    <div class="push"></div>
</div>
<!--container end-->

<!--include footer-->
<%- include("partials/footer") %>
</body>
</html>